/* body {
    background-color: #ffffff;
    /* user-select: none; */
    /* height: max-content; */ 
    /* width: auto; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    /* align-items: center; */
    /* min-height: 100vh; */
    /* margin: 5px;
}  
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 5px;
    
}
img {
    -webkit-user-drag: none;
    height: 75px;
    width: 75px;
}
table {
    margin: auto;
    border-collapse: collapse;
    position: relative;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
} */
.light-cell {
    background: #cfdbeb;
}

.dark-cell {
    background: #8ba2c0;
}
  




  