body {
    background-color: #ffffff;
    user-select: none;
    height: max-content;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 5px;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 5px;

}

img {
    -webkit-user-drag: none;
    height: 53px;
    width: 53px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

table {
    margin: auto;
    border-collapse: collapse;
    position: relative;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}
td {
    position: relative;
}
.end-container {
    width: auto;
}
.piece {
    cursor: pointer;
}
.light-cell {
    background: #BBA674ff;
}

.dark-cell {
    background: rgb(110, 80, 35);
}

.light-cell,
.dark-cell {
    height: 55px;
    width: 55px;
}
.selected {
    background-color: rgba(145, 105, 45, 0.481);
}
.possible-move {
    background-color: #04ff00b7;
    cursor: pointer;
}

.enemy {
    background-color: #b72020d4;
}
.winner-msg {
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1vw;
    border-radius: 10px;
    width: max-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}
#checkerboard-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.glow {
    /* box-shadow: 0 5px 15px rgb(0, 0, 0); */
    border-radius: 7px;
    box-shadow: 0px 0px 0px 2.1px rgba(255, 255, 255, 0.75);
    animation: alternate-reverse 1s infinite;
}
button {
    margin: 1rem;
    width: 30vw;
    height: 6vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 650;
    color: #000;
    background-color: #cfdbeb;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
button:hover {
    background-color: #8ba2c0;
    box-shadow: 0px 15px 20px (46, 229, 156, 0.4);
}
